.container {
  max-width: 500px;
  margin-top: 200px;
}

.padding-small {
  padding: 15px;
}

.border-radius-5 {
  border-radius: 5px;
}

@media(max-height: 500px) {
  .container {
    margin-top: 50px;
  }
}

